img[src="/steaminputglyphs/ps5_button_options.svg"] {
    content: url("/themes_custom/SBP-Legion-Go-Theme/lego-buttons/R.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps5_button_create.svg"] {
    content: url("/themes_custom/SBP-Legion-Go-Theme/lego-buttons/L.png");
    transform: scale(0.88);
}
img[src="/steaminputglyphs/ps4_button_logo.svg"] {
    content: url("/themes_custom/Legion%20Go%20Glyphs/lego-buttons/Menu.png");
    transform: scale(0.88);
}
